    <!-- Menu Section -->
    <section id="menu" class="content-section text-center">
        <div class="menu-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Menu</h2>
                      <p>Le Trio will spark your interest with a mix of Vietnamese and American sandwiches and salads. With the exception of our freshly-baked pastries, all items are made to order. </p>
                        <div class="menu_container">
                                <ul>
                                    <h3>Hot Drinks</h3>
                                    <li>House Drip Coffee</li>
                                    <li>Espresso</li>
                                    <li>Latte</li>
                                    <li> Cappuccino</li>
                                    <li>Americano</li>
                                    <li>Mocha</li>
                                    <li>Golden Latte</li>
                                    <li>Matcha Latte</li>
                                </ul>

                        <ul>
                            <h3>Cold Drinks</h3>
                            <li>Chrysanthemum Tea</li>
                            <li>Vietnamese Coffee (espresso with sweetened condensed milk)</li>
                        </ul>

                        <ul class="add">
                            <h4>Add</h4>
                            <li>Almond Milk</li>
                            <li>Oat Milk</li>
                        </ul>
                                                <ul>
                            <h3>Banh Mi</h3>
                            <li>Sandwiches are served on French baguette and come with aioli pickled carrot and daikon, cucumber, cilantro, and jalpeno. Everyday Starting at 11:30am until sold out</li>
                            <li>Fancy Pork</li>
                            <li>Lemongrass chicken</li>
                            <li>Sweet and savory pork</li>
                            <li>Deluxe ham</li>
                            <li>Vegetarian</li>
                        </ul>
                        <ul>
                            <h3>Spring Rolls - Two Rolls</h3>
                            <li>Pork and Shrimp</li>
                            <li>Vegetarian roll</li>
            
                        </ul>

                        <ul class="add">
                            <h4>Add</h4>
                            <li>1/2 Avocado</li>
                            <li>Pork Pate</li>
                            <li>Additional meat</li>
                            <li>Additional veggies</li>
                        </ul>


                        </div>
                
                </div>
            </div>
        </div>
    </section>