    <!-- Download Section -->
    <section id="menu" class="content-section text-center">
        <div class="menu-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Menu</h2>
                      <p>Le Trio will spark your interest with a mix of Vietnamese and American sandwiches and salads. With the exception of our freshly-baked pastries, all items are made to order. </p>
                    <div class="menu-wrapper">
                        <div class="menu-item-1"></div>
                            <img src="img/le-trio-menu-drinks.gif" alt="Le Trio SF Drink Menu"/>
                        <div class="menu-item-2"></div>
                            <img src="img/le-trio-menu-food.gif" alt="Le Trio SF Food Menu"/>
                    </div>
                </div>
            </div>
        </div>
    </section>